*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
}
.border{
  border-right: 2px solid rgb(43, 84, 248);  
 }